@charset "UTF-8";
body {
    background-image: url(img-fundo.jpg);
    background-repeat: round;
}

header {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
    color: goldenrod;
}

section {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(170, 127, 19);
    width: 450px;
    background-color: rgb(255, 255, 183);
    margin: auto;
    padding: 15px;
    box-shadow: 5px 5px 5px black;
}